<% if question.errors.full_messages.any? %>
	<div class="mb message message-alert">
		<ul>
			<% question.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<%= form_with model: question do |form| %>
	<p><%= form.label :body, 'Текст' %></p>
	<p><%= form.text_area :body, rows: 5, class: 'form-text-area' %></p>
	<p class="mt"><%= form.label :user_id %></p>
	<p><%= form.text_field :user_id, class: 'form-text-field' %></p>
	<p class="mt-lg"><%= form.submit 'Сохранить', data: {turbo: false}, class: 'button button_main' %></p>
	<p class="mt-lg"> <%= link_to 'Вернуться', :back %></p>
<% end %>
