<<<<<<< HEAD
<div class="mb-sm">
  <%= simple_format(h(question.body)) %>
</div>
=======
<div class="mb-sm"><%= simple_format(h(question.body)) %></div>
>>>>>>> aab2ff0d0be44cf9a6fa467667fcaba97d327a37

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= question.answer %>
  </div>
<% end %>

<% if current_user == question.user %>
<div class="mb-sm">
  <% hidden_class = "text-hidden" if question.hidden? %>
  <p class="mb-sm <%= hidden_class %>"></p>
<<<<<<< HEAD

	<div class="text-sm question-footer">
    <div class="text-grey"><%= l(question.created_at, format: :short) %></div>

    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question),
                        title: 'Изменить вопрос', class: 'mr-sm' %>

      <% unless question.hidden? %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :patch,
                          title: 'Скрыть вопрос' %>
      <% end %>

      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос',
                  form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
    </div>
  </div>
=======
  <div class="text-sm question-footer">
  <div class="text-grey"><%= l(question.created_at, format: :short) %></div>
  
  <div><%= link_to fa_icon('pencil'), edit_question_path(question),
                     title: 'Изменить вопрос' %>
  <% unless question.hidden? %>
  <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :patch,
                      title: 'Скрыть вопрос' %>
  <% end %>
  <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос',
                    form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
  </div>
</div>
>>>>>>> aab2ff0d0be44cf9a6fa467667fcaba97d327a37
</div>
<% end %>
